.tools-div-layout {
    padding: 50px 30px;
  }
  
  .tools-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .tool-card {
    background-color: #d4edda; /* Softer blue for cards */
    border: 1px solid rgb(146, 222, 146);
    color: rgb(7, 81, 7);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    flex: 1 1 calc(25% - 20px);
    /* min-width: 150px; */
    width: 100px;
    text-align: center;
    font-weight: 500;
  }
  